[Desktop Entry]
Categories=AudioVideo
Comment=Fast And Powerful IPTV App
Exec=iptelly
Icon=dev.iptelly.iptelly
Keywords=iptelly;tv;iptv;
Name=IPTelly
StartupWMClass=iptelly
Terminal=false
Type=Application
