[Desktop Entry]
Categories=AudioVideo;Video;Player;TV;
Comment={{comment}}
Exec=env WEBKIT_DISABLE_DMABUF_RENDERER=1 iptelly
GenericName=IPTV Player
Icon={{icon}}
Keywords=iptelly;tv;iptv;m3u;xtream;epg;live;stream;player;
Name={{name}}
SingleMainWindow=true
StartupWMClass=iptelly
Terminal=false
Type=Application
