[Desktop Entry]
Categories={{categories}}
Comment={{comment}}
Exec=env WEBKIT_DISABLE_DMABUF_RENDERER=1 iptelly
Icon={{icon}}
Keywords=iptelly;tv;iptv;
Name={{name}}
StartupWMClass=iptelly
Terminal=false
Type=Application
